body {
    background-color: black;
}

.nav{
    background-color: rgb(158, 154, 154);
    font-size: 20px;
}

.card-container{
    padding: 1%;
    max-height: 250px;
    
}

.about{
    padding: 10%;
}

.resume{
    padding-top: 10%;
    border-radius: 2%;
    border-color: black;
}



